
.path_text {
	 color: cadetblue;
}
 .copy_icon {
	 margin-right: 10px;
	 cursor: pointer;
}
 .inner_path_text {
	 color: #a7a6a6;
}
 pre {
	 font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	 background: #f6f6f6;
	 border-radius: 10px;
	 text-shadow: 0 1px white;
}
 .row_fail {
	 background: #ff4d4f;
}
 .row_fail:hover td {
	 background: brown !important;
}
 .row_fail .path_text {
	 color: #fafafa;
}
 .row_fail .inner_path_text {
	 color: #fafafa;
}
 .row_fail .time_box {
	 color: #fafafa;
}
 .row_fail .time_box span {
	 color: #fafafa;
}
 .row_pass_odd {
	 background: #fff;
}
 .row_pass_odd:hover td {
	 background: #b5f5ec !important;
}
 .row_pass_even {
	 background: #f8fafb;
}
 .row_pass_even:hover td {
	 background: #b5f5ec !important;
}
 .row_pending {
	 background: #fadb14;
}
 .row_pending:hover td {
	 background: #d4b106 !important;
}
 .row_todo {
	 background: #d466d6;
}
 .row_todo:hover td {
	 background: #b15ab3 !important;
}
 .row_todo .path_text {
	 color: #fafafa;
}
 .row_todo .inner_path_text {
	 color: #fafafa;
}
 .row_todo .time_box {
	 color: #fafafa;
}
 .row_todo .time_box span {
	 color: #fafafa;
}
 .mian_table_tags {
	 text-align: center;
}
 .mian_table_tags .ant-tag {
	 width: 40px;
	 text-align: center;
	 padding: 1px;
	 margin-right: 2px;
	 box-shadow: 0px 1px 1px 0px #eee;
}
 .mian_table_tags .one_tag {
	 width: 120px;
}
 .mian_table_tags .one_tag span {
	 display: inline-block;
	 font-weight: 500;
	 text-align: left;
	 padding-left: 8px;
}
 .mian_table_tags .one_tag i {
	 margin-left: 5px;
}
 .area_subject {
	 font-size: 24px;
	 font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	 font-weight: 300;
	 color: #555c63;
	 line-height: 3rem;
	 margin: 20px 0;
}
 .area_subject i {
	 color: #9aa0ac;
	 margin-right: 20px;
}
 .expand_box {
	 display: flex;
	 justify-content: space-between;
	 align-items: flex-end;
}
 .expand_box .expand_title {
	 font-size: 16px;
}
 .expand_box .expand_title .text {
	 margin-right: 10px;
}
 .ant-table-expanded-row:hover > td {
	 background: #fff !important;
}
 .ant-table-expanded-row > td table {
	 padding: 0px !important;
}
 .detail_status_text {
	 text-transform: capitalize;
	 font-size: 0.8em;
	 margin-left: 1em;
}
 .merge-box {
	 margin: -4px 10px 3px 10px;
	 border-radius: 3px;
	 padding: 0px 10px;
	 background: #dcf5d7;
}
 .error_button {
	 background: tomato;
	 cursor: pointer;
	 color: #fafafa;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 border: 2px groove white;
	 border-radius: 10%;
	 box-shadow: 1px -1px #fafafa inset;
}
 .error_button > span {
	 margin-right: 10px;
}
 .error_button:hover {
	 color: bisque;
}
 